<h1>Change Password Page</h1>
<h3>Ingresa una nueva contraseña</h3>
<form action="/users/change" method="post">
    <input type="password" name="password" id="pass" placeholder="Igrese contraseña">
    <input type="submit" value="Send">
</form>