<h1>LOGIN</h1>
<form action="/users/login" method="post">
    <input type="email" name="email" id="email" placeholder="Igrese email">
    <input type="password" name="password" id="password" placeholder="Ingrese password">
    <input type="submit" value="Login">
</form>
<div>
    <h3>Usuario Nuevo?</h3>
    <button onclick="location.href='/views/registro'">Registrarse</button>
</div>
<div>
    <h2>Login con GitHub</h2>
    <button onclick="location.href='/users/github'">Github</button>
</div>
<div>
    <h2>Login con Google</h2>
    <button onclick="location.href='/users/google'">Google</button>
</div>