<h1>Reset Password</h1>
<h3>Ingresa tu mail para que te llegue un correo de reseteo de tu contraseña</h3>
<form action="/users/reset" method="post">
    <input type="email" name="email" id="email" placeholder="Igrese email">
    <input type="submit" value="Send">
</form>